<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>About Us | Car Universal</title> 
    <%- include('includes/head') %>
</head>

<body>
 
 
    <!--------------------------------- Main Header Section ---------------------------------------->
    <%- include('includes/header') %>
 
    <!--------------------------------- About Us Hero Section -------------------------------------->
    <section class="w-full flex justify-center primary-bg p-5 sm:p-10 lg:p-20 sm:px-5 lg:px-10">
        <section class="w-full max-w-screen-xl md:flex">
            <div class="md:w-2/4 relative p-4">
                <h1 class="text-4xl text-white font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nostrum!</h1>
                <div class="our-service-bordered-text about-head-border-text mt-10 sm:text-[145px] text-[120px]">About Us</div>
            </div>

            <div class="md:w-2/4 relative p-4">
                <p class="text-xl font-thin text-gray-200">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ullam consectetur quae assumenda a aliquam corrupti libero, maxime dolore quis!.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ullam consectetur quae assumenda a aliquam corrupti libero, maxime dolore quis!.
                </p>

                <img class="md:absolute top-full md:-translate-y-32 mt-3 md:mt-0" src="assets/images/avators-headers/about-head-image.png" width="100%" alt="">
            </div>
        </section>
    </section>
 
    <!--------------------------------- Our Mission Section -------------------------------->
    <!--------------------------------- Our Mission Section -------------------------------->
    <!--------------------------------- Our Mission Section -------------------------------->
    <div class="w-full flex justify-center mt-5 md:mt-[150px] px-3 md:px-10">
        <div class="w-full max-w-screen-xl">
            <div>
                <span class="inline-block p-2 text-sm px-5 border border-red-600 text-red-600 rounded-full">Our Mission</span>
            </div>
            <div>
                <p class="text-justify my-4 text-xl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus praesentium facere labore, ipsum optio aperiam impedit et molestiae consequatur dolor nisi similique magni atque recusandae rem officiis nemo quod nihil officia molestias voluptates asperiores! Beatae, veritatis quod autem placeat doloremque cum, fugiat ducimus est exercitationem quam nesciunt deserunt, voluptas ipsum. Consequatur expedita sequi alias nisi quibusdam quasi totam quam ad! Nam illo molestiae nulla fugit illum tenetur! Reiciendis velit, maxime dolore aperiam in facere possimus soluta explicabo fuga nam eum corporis dignissimos eos quisquam nemo qui natus debitis consectetur tempora sit aut aliquam corrupti? Voluptatum accusamus pariatur tempora porro aut in ut deserunt adipisci fugit, ipsa recusandae commodi vel cumque velit rerum sit exercitationem nulla, quaerat est quis. Harum nihil animi maxime unde omnis, vero dignissimos vitae aperiam? Ipsam dolor tempore optio earum sequi illo laboriosam expedita assumenda voluptatibus dignissimos laudantium nisi labore, repudiandae eum impedit ipsa culpa nostrum accusamus deserunt natus saepe corrupti ea? Error facilis quo magni vitae expedita voluptate soluta quaerat a numquam, quod impedit fugit placeat atque quidem dignissimos tenetur quia, eveniet eius? Porro, dicta, fugit, sed a nobis quaerat nostrum odio facere inventore autem perspiciatis architecto saepe cumque ut explicabo in tempora itaque voluptatem maiores?
                </p>
            </div>
        </div>
    </div>



    <!--------------------------------- Our Values Section -------------------------------->
    <!--------------------------------- Our Values Section -------------------------------->
    <!--------------------------------- Our Values Section -------------------------------->
    <div class="w-full h-fit flex justify-center sm:px-10 md:px-3 mt-10 px-2 relative text-white overflow-hidden">
        <div class="w-full h-full flex items-center justify-center absolute bg-black -z-10">
            <div class="h-4/5 w-2/5 center-box-shadow"></div>
        </div>
        <div class="sm:py-20 pt-10">
            <div class="w-full max-w-screen-xl">
                <div class="text-center">
                    <span class="inline-block p-2 text-sm px-5 border border-white text-white rounded-full">Our Values</span>
                </div>
                <div class="w-full flex justify-center text-center w-full w-2/4">
                    <h1 class="my-4 text-4xl sm:w-3/4 font-bold">
                        Here Are Our Four Key Guidelines To Ensure Top-Notch Car Service
                    </h1>
                </div>
            </div>


            <div class="min-w-full flex max-w-screen-xl grid gap-8 xl:grid-cols-4 lg:grid-cols-4 md:grid-cols-2  mt-10">
                <div class="h-64">
                    <div><span class="h-16 w-16 inline-flex items-center justify-center bg-neutral-700 rounded-full">Icon</span></div>
                    <h1 class="text-2xl mt-2">Guideline</h1>
                    <p class="text-gray-300">
                        Lorem ipsum dolor sit amet  elit, optio quisquam facilis tempore id quis, quos sit cupiditate quae possimus repudiandae incidunt ullam mollitia assumenda laboriosam rem fugiat, aut veritatis!
                    </p>
                </div>

                <div class="h-64">
                    <div><span class="h-16 w-16 inline-flex items-center justify-center bg-neutral-700 rounded-full">Icon</span></div>
                    <h1 class="text-2xl mt-2">Guideline</h1>
                    <p class="text-gray-300">
                        Lorem ipsum dolor sit amet  elit, optio quisquam facilis tempore id quis, quos sit cupiditate quae possimus repudiandae incidunt ullam mollitia assumenda laboriosam rem fugiat, aut veritatis!
                    </p>
                </div>

                <div class="h-64">
                    <div><span class="h-16 w-16 inline-flex items-center justify-center bg-neutral-700 rounded-full">Icon</span></div>
                    <h1 class="text-2xl mt-2">Guideline</h1>
                    <p class="text-gray-300">
                        Lorem ipsum dolor sit amet  elit, optio quisquam facilis tempore id quis, quos sit cupiditate quae possimus repudiandae incidunt ullam mollitia assumenda laboriosam rem fugiat, aut veritatis!
                    </p>
                </div>

                <div class="h-64">
                    <div><span class="h-16 w-16 inline-flex items-center justify-center bg-neutral-700 rounded-full">Icon</span></div>
                    <h1 class="text-2xl mt-2">Guideline</h1>
                    <p class="text-gray-300">
                        Lorem ipsum dolor sit amet  elit, optio quisquam facilis tempore id quis, quos sit cupiditate quae possimus repudiandae incidunt ullam mollitia assumenda laboriosam rem fugiat, aut veritatis!
                    </p>
                </div>
            </div>
        </div>
    </div>



    <!--------------------------------- Our Values Section -------------------------------->
    <!--------------------------------- Our Values Section -------------------------------->
    <!--------------------------------- Our Values Section -------------------------------->
    <div class="w-full flex justify-center sm:mt-60">
        <div class="min-h-96 w-full max-w-screen-xl bg-blue-50 rounded-2xl md:flex relative">
            <div class="md:w-2/4 sm:p-14 p-4">
                <h1 class="sm:text-5xl text-2xl font-semibold">We Ensure Owning A Car is Seamless</h1>
                <p class="my-4">
                    Lorem ipsum ipsu ipsuipsu dolor sit, ipsu ipsuipsu dolor sit amet consectetur adipisicing elit. Vero corrupti itaque et nesciunt quas labore eligendi harum atque eaque! Sunt?
                </p>
                
                <div class="mt-2">
                    <a href="/book-appointment-new" class="inline-flex items-center p-3 h-12 px-5 mr-2 border primary-bg border-transparent rounded-full text-white">Get Started</a>
                    <a href="/" class="inline-flex items-center h-12 p-3 px-5 border rounded-full primary-border-color">
                        <span>Tell us about your car</span>
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 15 15">
                                <path fill="currentColor" fill-rule="evenodd" d="M9.854 3.146L14.207 7.5l-4.353 4.354l-.708-.708L12.293 8H1V7h11.293L9.146 3.854z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            
            <div class="md:w-2/4 relative bottom-0">
                <img class="md:absolute bottom-0 md:-right-6 md:z-20" src="assets/images/avators-headers/man-11.png" alt="">
                <img class="absolute bottom-0 right-0 z-100" src="assets/images/design-vectors/circles.svg" alt="">
            </div>
        </div>
    </div>


    <!--------------------------------- Our Latest Blogs Section -------------------------------->
    <!--------------------------------- Our Latest Blogs Section -------------------------------->
    <!--------------------------------- Our Latest Blogs Section -------------------------------->
    <div class="w-full flex justify-center md:px-24 p-3 py-5 mb-10">
        <div class="w-full max-w-screen-xl">
            <h2 class="flex items-center justify-between sm:text-5xl text-2xl font-semibold">
                Our Latest Blogs
                <a href="/" class="p-1.5 px-6 border primary-border-color rounded-full text-base text-red-600">
                    View All
                    <span class="inline-block rotate-180 ml-2 translate-y-0.5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                            <path fill="currentColor" fill-rule="evenodd" d="m2.707 8l3.147 3.146l-.708.707L.793 7.5l4.353-4.354l.708.708L2.707 7H24v1z" clip-rule="evenodd" />
                        </svg>
                    </span>
                </a>
            </h1>


            <!-- Blogs Card -->
            <div class="grid lx:grid-cols-3 lg:grid-cols-3 sm:grid-cols-2 gap-10 mt-10">
                <div class="min-h-80 border rounded-2xl border hover:border-red-600">
                    <div class="h-48 p-2 rounded-2xl overflow-hidden">
                        <div class="h-full overflow-hidden rounded-xl"><img src="assets/images/others/thumbnail-1.png" class="w-full" alt=""></div>
                    </div>

                    <div class="p-2 px-6">
                        <span class="inline-block p-1 rounded-full px-4 border primary-border-color">Best Car Engine</span>
                    </div>
                    <div class="px-6 text-gray-500 text-lg">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, inventore.
                    </div>
                    <div class="p-2 px-6 my-4">
                        <a href="/" class="underline underline-offset-4 primary-text inline-flex items-center">
                            <span>
                                Read More
                            </span>
                            <span class="inline-block rotate-180 ml-2 mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                                    <path fill="currentColor" fill-rule="evenodd" d="m2.707 8l3.147 3.146l-.708.707L.793 7.5l4.353-4.354l.708.708L2.707 7H14v1z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                

                <div class="min-h-80 border rounded-2xl border hover:border-red-600">
                    <div class="h-48 p-2 rounded-2xl overflow-hidden">
                        <div class="h-full overflow-hidden rounded-xl"><img src="assets/images/others/thumbnail-1.png" class="w-full" alt=""></div>
                    </div>

                    <div class="p-2 px-6">
                        <span class="inline-block p-1 rounded-full px-4 border primary-border-color">Best Car Engine</span>
                    </div>
                    <div class="px-6 text-gray-500 text-lg">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, inventore.
                    </div>
                    <div class="p-2 px-6 my-4">
                        <a href="/" class="underline underline-offset-4 primary-text inline-flex items-center">
                            <span>
                                Read More
                            </span>
                            <span class="inline-block rotate-180 ml-2 mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                                    <path fill="currentColor" fill-rule="evenodd" d="m2.707 8l3.147 3.146l-.708.707L.793 7.5l4.353-4.354l.708.708L2.707 7H14v1z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            


                <div class="min-h-80 border rounded-2xl border hover:border-red-600">
                    <div class="h-48 p-2 rounded-2xl overflow-hidden">
                        <div class="h-full overflow-hidden rounded-xl"><img src="assets/images/others/thumbnail-1.png" class="w-full" alt=""></div>
                    </div>

                    <div class="p-2 px-6">
                        <span class="inline-block p-1 rounded-full px-4 border primary-border-color">Best Car Engine</span>
                    </div>
                    <div class="px-6 text-gray-500 text-lg">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, inventore.
                    </div>
                    <div class="p-2 px-6 my-4">
                        <a href="/" class="underline underline-offset-4 primary-text inline-flex items-center">
                            <span>
                                Read More
                            </span>
                            <span class="inline-block rotate-180 ml-2 mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                                    <path fill="currentColor" fill-rule="evenodd" d="m2.707 8l3.147 3.146l-.708.707L.793 7.5l4.353-4.354l.708.708L2.707 7H14v1z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>



    <%- include('includes/footer') %>
    <%- include('includes/foot') %>
</body>

</html>