<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Universal - Login</title>

    <%- include('includes/head') %>
        <!-- Tailwind Css -->
</head>
<% if (typeof error !=="undefined" ) { %>
    <div class="absolute right-3 top-5 error">
        <span class="bg-red-500 p-2 rounded-[10px] text-white slide-in">
            <%= error %>
        </span>
    </div>
    <% } %>

        <body class="bg-gray-100">
            <div>

            </div>
            <!--------------------------------- Main Header Section -------------------------------->
            <div class="sm:w-[800px] w-[100%] mx-auto shadwo bg-white rounded-[10px] login-css">
                <div class="flex ">
                    <div
                        class="py-10 flex items-center sm:w-[45%] bg-[url('https://res.cloudinary.com/dvzfuapyy/image/upload/v1727944434/Mask_group.png')] bg-cover">
                    </div>
                    <div class="p-5 px-7  sm:w-[55%]">
                        <div class="flex justify-center py-5">
                            <a href="/"> <img src="assets/images/logo.png" alt=""></a>
                        </div>
                        <div class="text-center">
                            <h2 class="text-[24px] font-[800]">Register Email</h2>
                        </div>
                        <form action="/request-otp" method="post">
                            <div class="mt-4">
                                <label for="">Email</label>
                                <input type="text" class="p-3 border-[1px] w-[100%] rounded-[5px] mt-3 outline-none"
                                    name="email" placeholder="Enter Your Email" required>
                            </div>

                            <div class="mt-8">
                                <button type="submit"
                                    class="p-3 bg-red-500 w-[100%] text-white text-[18px] rounded-[50px]">Send</button>
                            </div>
                        </form>
                        <div class="mt-3 py-4 text-center">
                            <p>have an account ? <a href="/login" class="text-red-500">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('includes/foot') %>


        </body>

        </html>