<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Universal - Services And Aepairs Made Easy</title>
    
    <link rel="stylesheet" href="assets/css/Theme.css">

    <!-- Tailwind Css -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!--------------------------------- Top Alert -------------------------------->
    <!--------------------------------- Top Alert -------------------------------->
    <!--------------------------------- Top Alert -------------------------------->
    <div class="w-full flex justify-center bg-black p-5">
        <div class="w-full max-w-screen-xl flex justify-end">
            <div class="flex items-center text-white">
                <span class="flex items-center border-r border-gray-500 pr-10">
                    <span class="h-8 w-8 inline-flex justify-center items-center bg-white rounded-full mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                            <path fill="black" d="M12 21a9 9 0 1 0 0-18a9 9 0 0 0 0 18m11-9c0 6.075-4.925 11-11 11S1 18.075 1 12S5.925 1 12 1s11 4.925 11 11m-8 4.414l-4-4V5.5h2v6.086L16.414 15z" />
                        </svg>
                    </span>
                    <span class="text-white">Mon- Sat (8:00am- 6:00pm)</span>
                </span>

                <span class="flex items-center pl-10">
                    <span class="h-8 w-8 inline-flex justify-center items-center bg-white rounded-full mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32">
                            <path fill="black" d="M10.25 2A3.25 3.25 0 0 0 7 5.25v21.5A3.25 3.25 0 0 0 10.25 30h11.5A3.25 3.25 0 0 0 25 26.75V5.25A3.25 3.25 0 0 0 21.75 2zM9 5.25C9 4.56 9.56 4 10.25 4h11.5c.69 0 1.25.56 1.25 1.25v21.5c0 .69-.56 1.25-1.25 1.25h-11.5C9.56 28 9 27.44 9 26.75zM14 24a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2z" />
                        </svg>
                    </span>
                    <span class="text-white">Call: 0743 630 4422</span>
                </span>
            </div>
        </div>
    </div>


    <!--------------------------------- Main Header Section -------------------------------->
    <!--------------------------------- Main Header Section -------------------------------->
    <!--------------------------------- Main Header Section -------------------------------->
    <div class="w-full flex justify-center px-24 sticky sticky top-0 z-50 bg-white">
        <div class="main-header w-full max-w-screen-xl">
            <!-- Logo Theme -->
            <div>
                <a href="/"><img src="assets/images/logo.png" width="150px" alt=""></a>
            </div>
    
            <!-- Navigation Links -->
            <div class="navigation-links">
                <ul class="navigation-links-list">
                    <li class="link-items--navigation"><a href="/" class="active">Home</a></li>
                    <li class="link-items--navigation"><a href="/about-us">About Us</a></li>
                    <li class="link-items--navigation"><a href="/">Engines For Sale</a></li>
                    <li class="link-items--navigation"><a href="/">Car Parts</a></li>
                    <li class="link-items--navigation">
                        <span class="our-services-handler">Our Service <span class="arrow"></span></span>
                        <div class="our-services-renderer" style="display: none;">
                            <!-- Drop-Down Link Navigator -->
                            <div class="drop-down-link-navigator">
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Clutch and Gearbox repairs</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Breaks</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Mobile mechanic and Services</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Engine & Cooling</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                            </div>
                            
                            <!-- Drop-Down Links -->
                            <div class="servicing-jobs">
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                                <a href="/" class="block w-full p-6 max-h-14 border">Servicing and MOT</a>
                            </div>
                            
                            <!-- Drop-Down Links -->
                            <div class="servicing-specialists">
                                <h1 class="text-2xl font-medium p-6 border-b">Servicing Specialists</h1>
                                <div class="flex px-4 pt-4">
                                    <div class="w-full h-full">
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Audi</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Hyundai</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Nissan</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Other car makes</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            BMW</div>
                                    </div>
                                    <div class="w-full h-full">
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Audi</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Hyundai</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Nissan</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Other car makes</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            BMW</div>
                                    </div>
                                    <div class="w-full h-full">
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Audi</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Hyundai</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Nissan</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Other car makes</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            BMW</div>
                                    </div>
                                    <div class="w-full h-full">
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Audi</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Hyundai</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Nissan</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            Other car makes</div>
                                        <div
                                            class="h-14 p-2 hover:text-red-600 hover:font-bold hover:underline underline-offset-4 cursor-pointer">
                                            BMW</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
    
                <a href="/book-appointment-new" class="book-appointment-button">Book Appoinment</a>
            </div>
        </div>
    </div>


    
    <!--------------------------------- Hero Section -------------------------------->
    <!--------------------------------- Hero Section -------------------------------->
    <!--------------------------------- Hero Section -------------------------------->
    <div class="w-full flex justify-center relative bg-black py-36">
        <div class="h-full w-full absolute -mt-36 flex justify-end overflow-hidden">
            <div class="h-full w-2/4">
                <img src="assets/images/avators-headers/hero-vector-1.png" class="min-h-full w-full" alt="ddd">
            </div>
        </div>
        <img src="assets/images/design-vectors/hero-vector.png" class="absolute left-0 top-0" alt="hhhhhhh">
        <div class="hero-section--home w-full max-w-screen-xl flex items-center text-white relative">
            <!-- Text Area -->
            <div class="w-2/4">
                <h1 class="text-6xl font-semibold">Sevices And Repairs Made Easy</h1>
                <p class="text-2xl mt-4 mb-4 font-thin pr-10">Find exactly what you need in minutes with a quotation by your trusted garage</p>
                
                <div class="inline-flex items-center bg-white h-12 text-black rounded-full overflow-hidden">
                    <span class="px-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" viewBox="0 0 24 24">
                            <path fill="#C32026" d="m5 11l1.5-4.5h11L19 11m-1.5 5a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5m-11 0A1.5 1.5 0 0 1 5 14.5A1.5 1.5 0 0 1 6.5 13A1.5 1.5 0 0 1 8 14.5A1.5 1.5 0 0 1 6.5 16M18.92 6c-.2-.58-.76-1-1.42-1h-11c-.66 0-1.22.42-1.42 1L3 12v8a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h12v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-8z" />
                        </svg>
                    </span>
    
                    <input type="text" placeholder="Vehicle Reg. No." class="h-full focus:outline-none">
                </div>
    
                <div class="inline-flex items-center bg-white h-12 ml-4 text-black rounded-full overflow-hidden my-6 mt-6">
                    <span class="px-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.6em" height="1.6em" viewBox="0 0 20 20">
                            <path fill="#C32026" fill-rule="evenodd" d="M5.05 4.05a7 7 0 1 1 9.9 9.9L10 18.9l-4.95-4.95a7 7 0 0 1 0-9.9M10 11a2 2 0 1 0 0-4a2 2 0 0 0 0 4" clip-rule="evenodd" />
                        </svg>
                    </span>
    
                    <input type="text" placeholder="Vehicle Reg. No." class="h-full focus:outline-none">
                </div>
    
    
                <div class="mt-2">
                    <a href="/book-appointment-new" class="inline-flex items-center p-3 h-12 px-5 mr-2 border primary-bg border-transparent rounded-full">Get Started</a>
                    <a href="/" class="inline-flex items-center h-12 p-3 px-5 border rounded-full primary-border-color">
                        <span>Tell us about your car</span>
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 15 15">
                                <path fill="currentColor" fill-rule="evenodd" d="M9.854 3.146L14.207 7.5l-4.353 4.354l-.708-.708L12.293 8H1V7h11.293L9.146 3.854z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!--------------------------------- Best Engine Section -------------------------------->
    <!--------------------------------- Best Engine Section -------------------------------->
    <!--------------------------------- Best Engine Section -------------------------------->
    <div class="w-full flex justify-center primary-bg p-24">
        <div class="w-full max-w-screen-xl">
            <h1 class="text-5xl text-center text-white font-semibold">Our Best Engines for Sale</h1>
            <p class="text-center text-white w-2/5 mt-2 m-auto">
                <span class="inline-block text-lg font-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis placerat nulla.</span>
            </p>
    
    
            <!-- Action Buttons -->
            <div class="flex justify-between">
                <!-- Filter Buttons -->
                <div>
                    <button class="p-2.5 rounded-lg px-5 mr-4 border bg-white font-semibold">Engines</button>
                    <button class="p-2.5 rounded-lg px-5 border border-white text-white">Car Parts</button>
                </div>
    
                <!-- View More Button -->
                <a href="/" class="inline-flex text-white items-center underline underline-offset-4">
                    <span >View More</span>
                    <span class="ml-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" viewBox="0 0 24 24">
                            <path fill="none" stroke="currentColor" stroke-width="2" d="M2 12h20m-9-9l9 9l-9 9" />
                        </svg>
                    </span>
                </a>
            </div>
    
    
            <!-- Products Grid -->
            <div class="grid grid-cols-4 gap-4 pt-4">
                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>

                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>

                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>

                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>



                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>



                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>

                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>

                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>

                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>

                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>

                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>

                <div class="bg-white rounded-lg">
                    <div class="flex flex-wrap justify-center p-4"><img src="assets/images/products/engine-image-1.png" alt=""></div>
                    <div class="p-4">
                        <p class="text-2xl">Product Name</p>
                        <p class="text-gray-600">Brand Name</p>
                    </div>
                    <hr>
                    <div class="p-5 flex items-center justify-between">
                        <p class="grid">
                            <strong class="text-2xl">₤2000.00</strong>
                            <span class="line-through">₤3000.00</span>
                        </p>
    
                        <a href="/" class="p-2.5 px-5 primary-bg rounded-full text-white">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--------------------------------- About Us Section -------------------------------->
    <!--------------------------------- About Us Section -------------------------------->
    <!--------------------------------- About Us Section -------------------------------->
    <div class="w-full flex justify-center p-24 text-justify">
        <div class="w-full max-w-screen-xl">
            <div>
                <span class="inline-block p-1 text-sm px-5 border border-black rounded-full">About Us</span>
            </div>
    
            <!-- Main Heading For About Us -->
            <div class="py-3 flex">
                <div class="w-2/4">
                    <h1 class="text-4xl font-semibold">
                        <div class="">Lorem ipsum dolor sit</div>
                        <div class="primary-text">amet, consectetur</div>
                        <div class="">adipiscing elit.</div>
                    </h1>
                </div>
    
                <div class="w-2/4 relative">
                    <div class="about-text-rotated min-w-96">About</div>
                    <div class="min-h-80 text-lg">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vestibulum scelerisque, augue sed cursus porttitor, libero
                            purus gravida magna, vulputate ultrices est eros vestibulum
                            tortor. Suspendisse porta tincidunt nisl non pulvinar.
                        </p>
                        <p class="mt-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vestibulum scelerisque, augue sed cursus porttitor, libero
                            purus gravida magna, vulputate ultrices est eros vestibulum
                            tortor. Suspendisse porta tincidunt nisl non pulvinar. 
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Vestibulum scelerisque, augue sed cursus porttitor, libero
                            purus gravida magna, vulputate ultrices est eros vestibulum
                            tortor. Suspendisse porta tincidunt nisl non pulvinar.
                            sed cursus porttitor, libero purus gravida magna, vulputate 
                            ultrices est eros vestibulum tortor. Suspendisse porta tincidunt
                            nisl non pulvinar.
                        </p>
                    </div>

                    <div class="mt-4">
                        <a href="/" class="inline-flex items-center border primary-border-color p-2.5 px-5 rounded-full hover:bg-red-600 hover:text-white">
                            <span>
                                Read More
                            </span>

                            <span class="ml-2 mt-0.5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" viewBox="0 0 24 24">
                                    <path fill="none" stroke="currentColor" stroke-width="2" d="M2 12h20m-9-9l9 9l-9 9" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--------------------------------- Our Service Section -------------------------------->
    <!--------------------------------- Our Service Section -------------------------------->
    <!--------------------------------- Our Service Section -------------------------------->
    <div class="w-full flex justify-center p-24">
        <div class="w-full max-w-screen-xl">
            <div>
                <span class="inline-block p-1 text-sm px-5 border border-black rounded-full">Our Service</span>
            </div>
    
            <!-- Main Heading For Our Service -->
            <div class="w-full flex my-4 justify-between items-end relative">
                <h1 class="text-5xl py-4 w-2/4 font-semibold">
                    <div>How Does</div> 
                    <div>Car Universal Work?</div>
                </h1>
    
                <div class="our-service-bordered-text">Service</div>
            </div>


            <!-- How Car Universal Works Steps -->
            <div class="py-4">
                <div class="our-steps--step-parent flex items-center p-4 mb-4 border border-transparent rounded-lg bg-gray-100 hover:bg-red-100 hover:border-red-600 transition-super-fast">
                    <div class="w-12">
                        <span class="inline-flex h-12 w-12 inline-flex items-center justify-center bg-white rounded-full font-semibold">1</span>
                    </div>
                    <h1 class="px-4 text-2xl font-bold w-96">Identify Your Problem</h1>
                    <p class="w-2/4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolor ratione in nemo dolorum debitis nemo dolorum debitis!
                    </p>
                    <div class="flex w-52 justify-end">
                        <a href="/" class="text-red-600 h-12 w-12 inline-flex items-center justify-center border border-red-600 rounded-full rotate-45 our-steps--step-button transition-super-fast-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 15 15">
                                <path fill="currentColor" d="m7.5 1.5l.354-.354L7.5.793l-.354.353zm-.354.354l4 4l.708-.708l-4-4zm0-.708l-4 4l.708.708l4-4zM7 1.5V14h1V1.5z" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="our-steps--step-parent flex items-center p-4 mb-4 border border-transparent rounded-lg bg-gray-100 hover:bg-red-100 hover:border-red-600 transition-super-fast">
                    <div class="w-12">
                        <span class="inline-flex h-12 w-12 inline-flex items-center justify-center bg-white rounded-full font-semibold">1</span>
                    </div>
                    <h1 class="px-4 text-2xl font-bold w-96">Identify Your Problem</h1>
                    <p class="w-2/4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolor ratione in nemo dolorum debitis nemo dolorum debitis!
                    </p>
                    <div class="flex w-52 justify-end">
                        <a href="/" class="text-red-600 h-12 w-12 inline-flex items-center justify-center border border-red-600 rounded-full rotate-45 our-steps--step-button transition-super-fast-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 15 15">
                                <path fill="currentColor" d="m7.5 1.5l.354-.354L7.5.793l-.354.353zm-.354.354l4 4l.708-.708l-4-4zm0-.708l-4 4l.708.708l4-4zM7 1.5V14h1V1.5z" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="our-steps--step-parent flex items-center p-4 mb-4 border border-transparent rounded-lg bg-gray-100 hover:bg-red-100 hover:border-red-600 transition-super-fast">
                    <div class="w-12">
                        <span class="inline-flex h-12 w-12 inline-flex items-center justify-center bg-white rounded-full font-semibold">1</span>
                    </div>
                    <h1 class="px-4 text-2xl font-bold w-96">Identify Your Problem</h1>
                    <p class="w-2/4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolor ratione in nemo dolorum debitis nemo dolorum debitis!
                    </p>
                    <div class="flex w-52 justify-end">
                        <a href="/" class="text-red-600 h-12 w-12 inline-flex items-center justify-center border border-red-600 rounded-full rotate-45 our-steps--step-button transition-super-fast-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 15 15">
                                <path fill="currentColor" d="m7.5 1.5l.354-.354L7.5.793l-.354.353zm-.354.354l4 4l.708-.708l-4-4zm0-.708l-4 4l.708.708l4-4zM7 1.5V14h1V1.5z" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="our-steps--step-parent flex items-center p-4 mb-4 border border-transparent rounded-lg bg-gray-100 hover:bg-red-100 hover:border-red-600 transition-super-fast">
                    <div class="w-12">
                        <span class="inline-flex h-12 w-12 inline-flex items-center justify-center bg-white rounded-full font-semibold">1</span>
                    </div>
                    <h1 class="px-4 text-2xl font-bold w-96">Identify Your Problem</h1>
                    <p class="w-2/4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolor ratione in nemo dolorum debitis nemo dolorum debitis!
                    </p>
                    <div class="flex w-52 justify-end">
                        <a href="/" class="text-red-600 h-12 w-12 inline-flex items-center justify-center border border-red-600 rounded-full rotate-45 our-steps--step-button transition-super-fast-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 15 15">
                                <path fill="currentColor" d="m7.5 1.5l.354-.354L7.5.793l-.354.353zm-.354.354l4 4l.708-.708l-4-4zm0-.708l-4 4l.708.708l4-4zM7 1.5V14h1V1.5z" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="our-steps--step-parent flex items-center p-4 mb-4 border border-transparent rounded-lg bg-gray-100 hover:bg-red-100 hover:border-red-600 transition-super-fast">
                    <div class="w-12">
                        <span class="inline-flex h-12 w-12 inline-flex items-center justify-center bg-white rounded-full font-semibold">1</span>
                    </div>
                    <h1 class="px-4 text-2xl font-bold w-96">Identify Your Problem</h1>
                    <p class="w-2/4">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolor ratione in nemo dolorum debitis nemo dolorum debitis!
                    </p>
                    <div class="flex w-52 justify-end">
                        <a href="/" class="text-red-600 h-12 w-12 inline-flex items-center justify-center border border-red-600 rounded-full rotate-45 our-steps--step-button transition-super-fast-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 15 15">
                                <path fill="currentColor" d="m7.5 1.5l.354-.354L7.5.793l-.354.353zm-.354.354l4 4l.708-.708l-4-4zm0-.708l-4 4l.708.708l4-4zM7 1.5V14h1V1.5z" />
                            </svg>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--------------------------------- Key Features Section -------------------------------->
    <!--------------------------------- Key Features Section -------------------------------->
    <!--------------------------------- Key Features Section -------------------------------->
    <div class="w-full flex justify-center p-24 bg-gray-100">
        <div class="w-full max-w-screen-xl">
            <div>
                <span class="inline-block p-1 text-sm px-5 border border-black rounded-full">Take Care Of Every Client</span>
            </div>
    
            <!-- Main Heading For Key Features -->
            <div class="w-full flex justify-between items-center relative">
                <h1 class="text-5xl py-4 w-2/4 font-semibold">
                    <div>Key Features</div>
                </h1>

                <p class="w-2/4 text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ipsam ea tempore consectetur et natus quod voluptatibus dolor, nam impedit et natus quod voluptatibus dolor, nam impedit.
                </p>
            </div>



            <div class="grid grid-cols-4 gap-4 mt-4">
                <div class="bg-white h-60 border rounded-xl">
                    <div class="p-8">
                        <span class="h-14 w-14 inline-flex items-center justify-center rounded-full bg-red-100">
                            <svg width="30" height="30" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M30.8397 12.194C30.5555 11.7563 30.3177 11.2902 30.13 10.8033C29.9879 10.2756 29.9001 9.73464 29.8678 9.18901C29.8534 8.06009 29.5344 6.95601 28.9444 5.99342C28.2058 5.13062 27.2479 4.48339 26.1719 4.12014C25.6677 3.92431 25.185 3.6769 24.7317 3.38185C24.3173 3.04274 23.9392 2.66164 23.6033 2.24466C22.923 1.3233 22.0034 0.605729 20.9444 0.16973C19.8572 -0.0893187 18.7203 -0.0512588 17.6529 0.279923C17.112 0.420679 16.5582 0.505604 16 0.533366C15.4418 0.505689 14.8879 0.420763 14.3471 0.279923C13.2795 -0.0502392 12.1429 -0.0882898 11.0556 0.16973C9.99702 0.606511 9.07767 1.32393 8.39669 2.24466C8.06001 2.65792 7.68191 3.03565 7.26832 3.37193C6.81543 3.66683 6.33314 3.91388 5.8292 4.10912C4.75252 4.4717 3.79409 5.11903 3.05565 5.9824C2.46625 6.94526 2.14726 8.04917 2.13223 9.17799C2.10039 9.72403 2.01251 10.2654 1.86997 10.7934C1.68291 11.2837 1.44507 11.7531 1.16033 12.194C0.488864 13.1332 0.087559 14.2384 0 15.3896C0.08657 16.5427 0.487921 17.6499 1.16033 18.5907C1.44445 19.0284 1.68228 19.4944 1.86997 19.9813C2.01261 20.509 2.10049 21.0499 2.13223 21.5956C2.14661 22.7245 2.46565 23.8286 3.05565 24.7912C3.79415 25.654 4.75206 26.3012 5.8281 26.6645C6.33232 26.8603 6.81496 27.1077 7.26832 27.4028C7.6824 27.7402 8.06053 28.1194 8.39669 28.5345C9.07712 29.456 9.9966 30.1739 11.0556 30.6105C12.1428 30.8701 13.2798 30.832 14.3471 30.5003C14.888 30.3596 15.4418 30.2746 16 30.2469C16.5582 30.2745 17.1121 30.3595 17.6529 30.5003C18.3278 30.6731 19.0194 30.7724 19.7157 30.7967C20.1323 30.8008 20.547 30.7391 20.9444 30.6138C22.0035 30.1758 22.9229 29.4568 23.6033 28.5345C23.9396 28.1213 24.3174 27.7435 24.7306 27.4072C25.1835 27.1123 25.6658 26.8652 26.1697 26.67C27.2464 26.3074 28.2048 25.6601 28.9433 24.7967C29.5326 23.8339 29.8516 22.73 29.8667 21.6011C29.899 21.0552 29.9869 20.5139 30.1289 19.9857C30.3166 19.4988 30.5544 19.0328 30.8386 18.5951C31.5121 17.6532 31.9139 16.5443 32 15.3896C31.9124 14.2384 31.5111 13.1332 30.8397 12.194ZM28.9444 17.4733C28.5739 18.0485 28.2687 18.6631 28.0342 19.3058C27.839 19.9845 27.7185 20.6825 27.6749 21.3874C27.6761 22.1238 27.5004 22.8498 27.1625 23.5042C26.6405 24.0334 25.9976 24.4279 25.2893 24.6535C24.6362 24.9098 24.0135 25.2376 23.4325 25.6309C22.887 26.057 22.39 26.5419 21.9504 27.0766C21.5131 27.6844 20.934 28.1761 20.2634 28.5091C19.5477 28.622 18.8156 28.5638 18.1267 28.3394C17.4308 28.1625 16.7177 28.062 16 28.0397C15.2822 28.0639 14.5691 28.1659 13.8733 28.3438C13.1838 28.5689 12.4508 28.627 11.7344 28.5135C11.0644 28.1806 10.4859 27.6888 10.0496 27.081C9.60936 26.5441 9.11162 26.0571 8.56529 25.6287C7.9838 25.2335 7.36036 24.9038 6.70634 24.6458C5.9983 24.4195 5.35557 24.0251 4.83306 23.4965C4.49546 22.842 4.31974 22.1161 4.32066 21.3796C4.27726 20.6748 4.1568 19.9768 3.96143 19.2981C3.72692 18.6554 3.42165 18.0408 3.05124 17.4656C2.6018 16.8541 2.31068 16.1409 2.20386 15.3896C2.31164 14.6371 2.6043 13.923 3.05565 13.3113C3.42605 12.7361 3.73133 12.1215 3.96584 11.4788C4.16102 10.8001 4.28148 10.1021 4.32507 9.39728C4.32385 8.66082 4.49958 7.93485 4.83747 7.28047C5.35881 6.75246 6.00049 6.35883 6.70744 6.13337C7.36051 5.87705 7.98322 5.54925 8.56419 5.15596C9.11126 4.72757 9.60941 4.24014 10.0496 3.70251C10.4869 3.09475 11.066 2.603 11.7366 2.27001C12.4523 2.15714 13.1844 2.21529 13.8733 2.4397C14.5692 2.61666 15.2823 2.71717 16 2.73943C16.7178 2.71519 17.4309 2.61321 18.1267 2.43529C18.8162 2.21016 19.5492 2.152 20.2656 2.2656C20.9356 2.59852 21.5141 3.09032 21.9504 3.6981C22.3906 4.23499 22.8884 4.72201 23.4347 5.15045C24.0164 5.54376 24.6399 5.87156 25.2937 6.12786C26.0017 6.35416 26.6444 6.74849 27.1669 7.27717C27.5047 7.93199 27.6804 8.65829 27.6793 9.39507C27.7228 10.0996 27.8433 10.7972 28.0386 11.4755C28.2731 12.1182 28.5784 12.7328 28.9488 13.308C29.399 13.9211 29.6902 14.6363 29.7961 15.3896C29.6884 16.1421 29.3957 16.8561 28.9444 17.4678V17.4733Z" fill="#C32026"/>
                                <path d="M20.7932 11.2476L13.9271 17.1319L11.3375 14.0234C11.1505 13.7987 10.8818 13.6574 10.5907 13.6308C10.2995 13.6041 10.0097 13.6942 9.78492 13.8813C9.56018 14.0683 9.41895 14.3369 9.39229 14.6281C9.36563 14.9193 9.45573 15.2091 9.64277 15.4339L12.9486 19.4008C13.042 19.5132 13.1569 19.6058 13.2865 19.6733C13.416 19.7409 13.5578 19.782 13.7034 19.7942L13.7959 19.7975C14.0587 19.7972 14.3127 19.703 14.5122 19.5319L22.2257 12.9204C22.3418 12.8283 22.4382 12.7137 22.509 12.5835C22.5798 12.4533 22.6236 12.3102 22.6378 12.1627C22.652 12.0152 22.6363 11.8663 22.5917 11.725C22.547 11.5837 22.4743 11.4528 22.3779 11.3402C22.2815 11.2277 22.1634 11.1357 22.0306 11.0699C21.8979 11.004 21.7532 10.9656 21.6052 10.957C21.4573 10.9483 21.3091 10.9696 21.1696 11.0195C21.0301 11.0695 20.902 11.1471 20.7932 11.2476Z" fill="black"/>
                            </svg>                                
                        </span>
                    </div>

                    <div class="text-2xl font-semibold px-8">
                        1 years/ 36k miles warranty
                    </div>
                </div>

                <div class="bg-white h-60 border rounded-xl">
                    <div class="p-8">
                        <span class="h-14 w-14 inline-flex items-center justify-center rounded-full bg-red-100">
                            <svg width="30" height="30" viewBox="0 0 32 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M27.1172 26H24.5469C24.2734 26 24 25.7793 24 25.4482C24 25.1172 24.2187 24.8965 24.5469 24.8965H27.1172C27.8828 24.8965 28.5938 24.6207 29.1406 24.0689C29.6874 23.5172 29.9609 22.7999 29.9609 22.0276C29.9609 20.4276 28.6484 19.1034 27.0625 19.1034H25.6407C25.3672 19.1034 25.0938 18.8828 25.0938 18.5517C25.0938 18.2759 25.3125 18 25.6407 18H27.0625C29.25 18 31 19.7655 31 21.9724C31 23.0207 30.6172 24.0138 29.8516 24.7862C29.1953 25.5586 28.1562 26 27.1172 26Z" fill="#C32026" stroke="#C32026"/>
                                <path d="M17.5568 33.934C17.4404 33.934 17.3239 33.8763 17.2075 33.8186C16.9746 33.6454 16.9163 33.299 17.1492 33.0104L24.1365 24.3513C24.6024 23.774 24.8935 23.0235 24.8935 22.2154V16.0966H4.10632V22.2734C4.10632 23.0238 4.39746 23.7743 4.86327 24.4093L11.8506 33.0684C12.0253 33.2993 12.0253 33.6457 11.7924 33.8766C11.5594 34.0497 11.2101 34.0497 10.9772 33.8188L3.98985 25.1597C3.34933 24.3515 3 23.3702 3 22.3311V15.5773C3 15.2886 3.23291 15 3.58228 15H25.4177C25.7089 15 26 15.2309 26 15.5773V22.3311C26 23.3702 25.6506 24.3516 25.0102 25.1597L18.0228 33.8188C17.8482 33.8766 17.7315 33.934 17.5568 33.934Z" fill="#C32026" stroke="#C32026"/>
                                <path d="M18.5326 13C18.4713 13 18.4099 13 18.2873 12.9534C17.9806 12.8602 17.858 12.5808 17.9806 12.3479L18.2873 11.7889C19.0845 10.2984 18.9619 8.57506 17.9806 7.13103C16.8767 5.54734 16.6928 3.63752 17.49 1.91417L17.7967 1.30865C17.9193 1.07576 18.226 0.936022 18.5326 1.02918C18.8392 1.12234 19.0232 1.35525 18.9006 1.58813L18.5939 2.19364C17.9193 3.63761 18.042 5.26772 19.0233 6.66524C20.1885 8.34209 20.3111 10.2986 19.3912 12.0684L19.0846 12.6274C19.0233 12.9068 18.7779 13 18.5326 13Z" fill="black" stroke="black" stroke-width="0.5"/>
                                <path d="M14.5326 13C14.4713 13 14.4099 13 14.2873 12.9534C13.9806 12.8602 13.858 12.5808 13.9806 12.3479L14.2873 11.7889C15.0845 10.2984 14.9619 8.57506 13.9806 7.13103C12.8767 5.54734 12.6928 3.63752 13.49 1.91417L13.7967 1.30865C13.9193 1.07576 14.226 0.936022 14.5326 1.02918C14.8392 1.12234 15.0232 1.35525 14.9006 1.58813L14.5939 2.19364C13.9193 3.63761 14.042 5.26772 15.0233 6.66524C16.1885 8.34209 16.3111 10.2986 15.3912 12.0684L15.0846 12.6274C15.0233 12.9068 14.7779 13 14.5326 13Z" fill="black" stroke="black" stroke-width="0.5"/>
                                <path d="M10.5326 13C10.4713 13 10.4099 13 10.2873 12.9534C9.98065 12.8602 9.85797 12.5808 9.98065 12.3479L10.2873 11.7889C11.0845 10.2984 10.9619 8.57506 9.98065 7.13103C8.87674 5.54734 8.69277 3.63752 9.49002 1.91417L9.79666 1.30865C9.91932 1.07576 10.226 0.936022 10.5326 1.02918C10.8392 1.12234 11.0232 1.35525 10.9006 1.58813L10.5939 2.19364C9.9193 3.63761 10.042 5.26772 11.0233 6.66524C12.1885 8.34209 12.3111 10.2986 11.3912 12.0684L11.0846 12.6274C11.0233 12.9068 10.7779 13 10.5326 13Z" fill="black" stroke="black" stroke-width="0.5"/>
                                <path d="M28.4303 35H0.569746C0.284873 35 0 34.6 0 34C0 33.4 0.227899 33 0.569746 33H28.4303C28.7151 33 29 33.4 29 34C29 34.6 28.7151 35 28.4303 35Z" fill="#C32026"/>
                                <path d="M23.4242 37H5.57575C5.28788 37 5 36.8 5 36.5C5 36.2 5.2303 36 5.57575 36H23.4242C23.7121 36 24 36.2 24 36.5C24 36.8 23.7697 37 23.4242 37Z" fill="#C32026"/>
                            </svg>                        
                        </span>
                    </div>

                    <div class="text-2xl font-semibold px-8">
                        Coffee & Wi-Fi
                    </div>
                </div>

                <div class="bg-white h-60 border rounded-xl">
                    <div class="p-8">
                        <span class="h-14 w-14 inline-flex items-center justify-center rounded-full bg-red-100">
                            <svg width="28" height="28" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.9812 13.575V15.0947C20.0798 15.0947 20.9705 16.0018 20.9705 17.1208V21.6796C20.9705 22.7986 20.0798 23.7058 18.9812 23.7058H12.0186C10.92 23.7058 10.0293 22.7986 10.0293 21.6796V17.1208C10.0293 16.0018 10.92 15.0947 12.0186 15.0947V13.575C12.0186 11.6168 13.5772 10.0293 15.4999 10.0293C17.4225 10.0293 18.9812 11.6168 18.9812 13.575ZM14.0079 15.0947H16.9919V13.575C16.9919 12.7358 16.3239 12.0554 15.4999 12.0554C14.6759 12.0554 14.0079 12.7358 14.0079 13.575V15.0947ZM18.9812 17.1208V21.6796H12.0186V17.1208H18.9812Z" fill="black"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0363 1.52433C13.6572 -0.508111 17.3428 -0.508111 19.9637 1.52433L28.2304 7.93497C29.9764 9.28894 31 11.363 31 13.5632V23.8474C31 27.8104 27.7487 31 23.7667 31H7.23333C3.25129 31 0 27.8104 0 23.8474V13.5632C0 11.363 1.02363 9.28894 2.7696 7.93497L11.0363 1.52433ZM18.6972 3.15748C16.8217 1.70306 14.1783 1.70306 12.3028 3.15747L4.03608 9.5681C2.79005 10.5344 2.06667 12.0079 2.06667 13.5632V23.8474C2.06667 26.6436 4.36707 28.9333 7.23333 28.9333H23.7667C26.6329 28.9333 28.9333 26.6436 28.9333 23.8474V13.5632C28.9333 12.0079 28.2099 10.5344 26.9639 9.5681L18.6972 3.15748Z" fill="#C32026"/>
                            </svg>                           
                        </span>
                    </div>

                    <div class="text-2xl font-semibold px-8">
                        We Ensure 100% Safety
                    </div>
                </div>

                <div class="bg-white h-60 border rounded-xl">
                    <div class="p-8">
                        <span class="h-14 w-14 inline-flex items-center justify-center rounded-full bg-red-100">
                            <svg class="ml-1" width="26" height="26" viewBox="0 0 35 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.994 1C10.3935 1 6.64252 4.76773 6.64252 9.37383C6.64252 13.9841 10.3999 17.7477 15.0024 17.7477C19.6049 17.7477 23.3623 13.984 23.3623 9.37383C23.3623 4.76363 19.6049 1 15.0024 1H14.994ZM14.994 3.49882H15.0022C18.2561 3.49882 20.8673 6.11451 20.8673 9.37367C20.8673 12.6328 18.256 15.2485 15.0022 15.2485C11.7483 15.2485 9.13714 12.6328 9.13714 9.37367C9.13714 6.1164 11.7441 3.49882 14.994 3.49882ZM10.1295 19.3612C5.09308 19.3612 1 23.461 1 28.5038V30.8858C1 31.7898 1.088 32.7164 1.61192 33.5671C2.13377 34.4178 3.21023 35 4.37261 35H25.6315C26.7939 35 27.8683 34.4178 28.3901 33.5671C28.912 32.7164 29 31.7898 29 30.8858V28.5038C29 23.459 24.907 19.3612 19.8726 19.3612H10.1295ZM10.1295 21.86H19.873C23.569 21.86 26.5056 24.8016 26.5056 28.5037V30.8857C26.5056 31.5642 26.3808 32.0684 26.2662 32.255C26.1516 32.4415 26.1659 32.4989 25.6318 32.4989H4.37291C3.8388 32.4989 3.85106 32.4415 3.73648 32.255C3.62187 32.0685 3.49704 31.5642 3.49704 30.8857V28.5037C3.49704 24.8015 6.43364 21.86 10.1295 21.86Z" fill="#C32026" stroke="#F9E9EA" stroke-width="0.5"/>
                                <circle cx="27.5" cy="22.5" r="7.5" fill="#F9E9EA"/>
                                <path d="M32.2217 20.9929L29.6231 22.0383L27.9257 20.1726C27.7156 19.9425 27.2844 19.9425 27.0743 20.1726L25.3769 22.0383L22.7783 20.9929C22.5904 20.9179 22.3692 20.9429 22.2089 21.0579C22.0485 21.173 21.9711 21.3631 22.0098 21.5431L22.8613 25.5948C22.911 25.8299 23.1377 26 23.4031 26H31.5969C31.8623 26 32.089 25.8299 32.1387 25.5948L32.9902 21.5431C33.0289 21.3581 32.9515 21.173 32.7911 21.0579C32.6308 20.9429 32.4096 20.9179 32.2217 20.9929ZM31.138 24.9996H23.862L23.2925 22.2935L25.3106 23.1038C25.5373 23.1938 25.8026 23.1388 25.963 22.9637L27.5 21.273L29.037 22.9637C29.1974 23.1388 29.4627 23.1938 29.6894 23.1038L31.7075 22.2935L31.138 24.9996Z" fill="black"/>
                            </svg>                          
                        </span>
                    </div>

                    <div class="text-2xl font-semibold px-8">
                        Fully Qualified Mechanics
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--------------------------------- Client Testomonials Section -------------------------------->
    <!--------------------------------- Client Testomonials Section -------------------------------->
    <!--------------------------------- Client Testomonials Section -------------------------------->
    <div class="w-full flex justify-center p-24">
        <div class="w-full max-w-screen-xl">
            <div>
                <span class="inline-block p-1 text-sm px-5 border border-black rounded-full">What Customer Say</span>
            </div>
            
            <!-- Main Heading For Key Features -->
            <div class="w-full flex justify-between items-center relative">
                <h1 class="text-5xl py-4 w-2/4 font-semibold">
                    <div>What Our Customer</div>
                    <div>Are Saying</div>
                </h1>

                <p class="w-2/4 text-justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ipsam ea tempore consectetur et natus quod voluptatibus dolor, nam impedit et natus quod voluptatibus dolor, nam impedit.
                </p>
            </div>


            
            <!-- Client Reviews Slider -->
            <div class="relative w-full glide-04 pt-24">
                <!-- Slides -->
                <div class="overflow-hidden" data-glide-el="track">
                    <ul class="relative w-full overflow-hidden p-0 pb-10 whitespace-no-wrap flex flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform]">
                        <li>
                            <div class="min-h-56 h-full w-full rounded-2xl shadow-xl shadow-gray-100 p-6 relative">
                                <div class="flex justify-between">
                                    <span><img src="assets/images/avator-1.png" alt=""></span>
                                
                                    <div class="min-w-1/4 h-10 px-4 rounded-full inline-flex items-center bg-orange-50 text-yellow-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                    </div>
                                </div>

                                <div class="py-4">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere error quisquam, et culpa qui doloremque repellat.
                                </div>

                                <div class="absolute bottom-0 p-6 left-0 w-full flex justify-between">
                                    <strong>Mohammed Sohib</strong>
                                    <span>23 May 2024</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="h-full w-full rounded-2xl shadow-xl shadow-gray-100 p-6 relative">
                                <div class="flex justify-between">
                                    <span><img src="assets/images/avator-1.png" alt=""></span>
                                
                                    <div class="min-w-1/4 h-10 px-4 rounded-full inline-flex items-center bg-orange-50 text-yellow-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                    </div>
                                </div>

                                <div class="py-4">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere error quisquam, et culpa qui doloremque repellat.
                                </div>

                                <div class="absolute bottom-0 p-6 left-0 w-full flex justify-between">
                                    <strong>Mohammed Sohib</strong>
                                    <span>23 May 2024</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="h-full w-full rounded-2xl shadow-xl shadow-gray-100 p-6 relative">
                                <div class="flex justify-between">
                                    <span><img src="assets/images/avator-1.png" alt=""></span>
                                
                                    <div class="min-w-1/4 h-10 px-4 rounded-full inline-flex items-center bg-orange-50 text-yellow-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                    </div>
                                </div>

                                <div class="py-4">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere error quisquam, et culpa qui doloremque repellat.
                                </div>

                                <div class="absolute bottom-0 p-6 left-0 w-full flex justify-between">
                                    <strong>Mohammed Sohib</strong>
                                    <span>23 May 2024</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="h-full w-full rounded-2xl shadow-xl shadow-gray-100 p-6 relative">
                                <div class="flex justify-between">
                                    <span><img src="assets/images/avator-1.png" alt=""></span>
                                
                                    <div class="min-w-1/4 h-10 px-4 rounded-full inline-flex items-center bg-orange-50 text-yellow-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                                            <path fill="currentColor" d="m12 17.27l4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.72l3.67-3.18c.67-.58.31-1.68-.57-1.75l-4.83-.41l-1.89-4.46c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18l-1.1 4.72c-.2.86.73 1.54 1.49 1.08z" />
                                        </svg>
                                    </div>
                                </div>

                                <div class="py-4">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere error quisquam, et culpa qui doloremque repellat.
                                </div>

                                <div class="absolute bottom-0 p-6 left-0 w-full flex justify-between">
                                    <strong>Mohammed Sohib</strong>
                                    <span>23 May 2024</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Controls -->
                <div class="absolute right-0 top-0 flex items-center justify-center gap-2 p-4" data-glide-el="controls">
                    <button class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20" data-glide-dir="<" aria-label="prev slide">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <title>prev slide</title>
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                        </svg>
                    </button>
                    <button class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20" data-glide-dir=">" aria-label="next slide">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                            <title>next slide</title>
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                        </svg>
                    </button>
                </div>
            </div>
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/glide.js"></script>
            
            <script>
                var glide04 = new Glide('.glide-04', {
                    type: 'carousel',
                    focusAt: 'center',
                    perView: 3.5,
                    autoplay: 3500,
                    animationDuration: 700,
                    gap: 24,
                    classes: {
                        activeNav: '[&>*]:bg-slate-700',
                    },
                    breakpoints: {
                        1024: {
                            perView: 2
                        },
                        640: {
                            perView: 1
                        }
                    },
                });
            
                glide04.mount();
            </script>
        </div>
    </div>



    <!--------------------------------- Footer Section -------------------------------->
    <!--------------------------------- Footer Section -------------------------------->
    <!--------------------------------- Footer Section -------------------------------->
    <div class="w-full flex flex-wrap justify-center p-24 py-16 bg-black overflow-hidden">
        <div class="w-full flex max-w-screen-xl h-fit relative">
            <div class="absolute w-full">
                <div class="h-80 w-80 rounded-full left-10 shadow-box-bottom"></div>
                <div class="h-80 w-80 rounded-full right-10 top-0 shadow-box-bottom"></div>
            </div>
            <div class="w-full py-10 flex">
                <div class="w-2/6 relative">
                    <img src="assets/images/logo.png" width="240px" alt="">
                    <p class="text-white mt-8 inline-block font-thin text-gray-300 text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel perspiciatis doloribus minima. Delectus voluptatibus maiores officiis, quia etem aut harum ipsam.</p>
                </div>
    
                <div class="w-4/6 text-white ml-16 flex justify-between">
                    <div>
                        <h1 class="text-xl mb-4">Help & Support</h1>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">How It Works</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">Support Center</a></div>
                        <div><a href="/contact-us" class="inline-block text-gray-300 text-thin my-1">Contact Us</a></div>
                    </div>

                    <div>
                        <h1 class="text-xl mb-4">Company</h1>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">About Us</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">News & Blog</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">Reviews</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">Price Estimater</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">Terms & Condition</a></div>
                    </div>

                    <div>
                        <h1 class="text-xl mb-4">Services</h1>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">MOT</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">Servicing</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">Brake Pads</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">Cambelt/ Timing Belt</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">Clutch</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">Battery</a></div>
                        <div><a href="/" class="inline-block text-gray-300 text-thin my-1">All Jobs</a></div>
                    </div>
                </div>
            </div>`
        </div>

        <div class="w-full flex justify-center z-20">
            <div class="w-full flex justify-between max-w-screen-xl text-white text-gray-500">
                <div>© 2024 caruniversal | All Rights Reserved</div>

                <div class="flex gap-6">
                    <!-- Facebook -->
                    <a href="/">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_29_193)">
                            <path d="M12.5 0C5.5965 0 0 5.5965 0 12.5C0 18.362 4.036 23.281 9.4805 24.632V16.32H6.903V12.5H9.4805V10.854C9.4805 6.5995 11.406 4.6275 15.583 4.6275C16.375 4.6275 17.7415 4.783 18.3005 4.938V8.4005C18.0055 8.3695 17.493 8.354 16.8565 8.354C14.807 8.354 14.015 9.1305 14.015 11.149V12.5H18.098L17.3965 16.32H14.015V24.9085C20.2045 24.161 25.0005 18.891 25.0005 12.5C25 5.5965 19.4035 0 12.5 0Z" fill="white"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_29_193">
                            <rect width="25" height="25" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </a>
                    
                    <!-- X - Twitter -->
                    <a href="/">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19.0897 1.9834H22.6038L14.9266 10.7579L23.9582 22.6979H16.8865L11.3478 15.4564L5.0102 22.6979H1.49404L9.7055 13.3127L1.0415 1.9834H8.29266L13.2992 8.60249L19.0897 1.9834ZM17.8564 20.5946H19.8036L7.23462 3.97624H5.14511L17.8564 20.5946Z" fill="white"/>
                        </svg>
                    </a>
    
                    <!-- Linkedin -->
                    <a href="/">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_29_185)">
                            <path d="M23.1494 0H1.8457C0.825195 0 0 0.805664 0 1.80176V23.1934C0 24.1895 0.825195 25 1.8457 25H23.1494C24.1699 25 25 24.1895 25 23.1982V1.80176C25 0.805664 24.1699 0 23.1494 0ZM7.41699 21.3037H3.70605V9.37012H7.41699V21.3037ZM5.56152 7.74414C4.37012 7.74414 3.4082 6.78223 3.4082 5.5957C3.4082 4.40918 4.37012 3.44727 5.56152 3.44727C6.74805 3.44727 7.70996 4.40918 7.70996 5.5957C7.70996 6.77734 6.74805 7.74414 5.56152 7.74414ZM21.3037 21.3037H17.5977V15.5029C17.5977 14.1211 17.5732 12.3389 15.6689 12.3389C13.7402 12.3389 13.4473 13.8477 13.4473 15.4053V21.3037H9.74609V9.37012H13.3008V11.001H13.3496C13.8428 10.0635 15.0537 9.07227 16.8555 9.07227C20.6104 9.07227 21.3037 11.543 21.3037 14.7559V21.3037Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_29_185">
                            <rect width="25" height="25" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </a>
                    
                    <!-- Instagram -->
                    <a href="/">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_29_187)">
                            <path d="M12.5 2.25098C15.8398 2.25098 16.2354 2.26562 17.5488 2.32422C18.7695 2.37793 19.4287 2.58301 19.8682 2.75391C20.4492 2.97852 20.8691 3.25195 21.3037 3.68652C21.7432 4.12598 22.0117 4.54102 22.2363 5.12207C22.4072 5.56152 22.6123 6.22559 22.666 7.44141C22.7246 8.75977 22.7393 9.15527 22.7393 12.4902C22.7393 15.8301 22.7246 16.2256 22.666 17.5391C22.6123 18.7598 22.4072 19.4189 22.2363 19.8584C22.0117 20.4395 21.7383 20.8594 21.3037 21.2939C20.8643 21.7334 20.4492 22.002 19.8682 22.2266C19.4287 22.3975 18.7646 22.6025 17.5488 22.6563C16.2305 22.7148 15.835 22.7295 12.5 22.7295C9.16016 22.7295 8.76465 22.7148 7.45117 22.6563C6.23047 22.6025 5.57129 22.3975 5.13184 22.2266C4.55078 22.002 4.13086 21.7285 3.69629 21.2939C3.25684 20.8545 2.98828 20.4395 2.76367 19.8584C2.59277 19.4189 2.3877 18.7549 2.33398 17.5391C2.27539 16.2207 2.26074 15.8252 2.26074 12.4902C2.26074 9.15039 2.27539 8.75488 2.33398 7.44141C2.3877 6.2207 2.59277 5.56152 2.76367 5.12207C2.98828 4.54102 3.26172 4.12109 3.69629 3.68652C4.13574 3.24707 4.55078 2.97852 5.13184 2.75391C5.57129 2.58301 6.23535 2.37793 7.45117 2.32422C8.76465 2.26562 9.16016 2.25098 12.5 2.25098ZM12.5 0C9.10645 0 8.68164 0.0146484 7.34863 0.0732422C6.02051 0.131836 5.10742 0.34668 4.31641 0.654297C3.49121 0.976562 2.79297 1.40137 2.09961 2.09961C1.40137 2.79297 0.976562 3.49121 0.654297 4.31152C0.34668 5.10742 0.131836 6.01562 0.0732422 7.34375C0.0146484 8.68164 0 9.10645 0 12.5C0 15.8936 0.0146484 16.3184 0.0732422 17.6514C0.131836 18.9795 0.34668 19.8926 0.654297 20.6836C0.976562 21.5088 1.40137 22.207 2.09961 22.9004C2.79297 23.5938 3.49121 24.0234 4.31152 24.3408C5.10742 24.6484 6.01562 24.8633 7.34375 24.9219C8.67676 24.9805 9.10156 24.9951 12.4951 24.9951C15.8887 24.9951 16.3135 24.9805 17.6465 24.9219C18.9746 24.8633 19.8877 24.6484 20.6787 24.3408C21.499 24.0234 22.1973 23.5938 22.8906 22.9004C23.584 22.207 24.0137 21.5088 24.3311 20.6885C24.6387 19.8926 24.8535 18.9844 24.9121 17.6563C24.9707 16.3232 24.9854 15.8984 24.9854 12.5049C24.9854 9.11133 24.9707 8.68652 24.9121 7.35352C24.8535 6.02539 24.6387 5.11231 24.3311 4.32129C24.0234 3.49121 23.5986 2.79297 22.9004 2.09961C22.207 1.40625 21.5088 0.976563 20.6885 0.65918C19.8926 0.351562 18.9844 0.136719 17.6562 0.078125C16.3184 0.0146484 15.8936 0 12.5 0Z" fill="white"/>
                            <path d="M12.5 6.0791C8.95508 6.0791 6.0791 8.95508 6.0791 12.5C6.0791 16.0449 8.95508 18.9209 12.5 18.9209C16.0449 18.9209 18.9209 16.0449 18.9209 12.5C18.9209 8.95508 16.0449 6.0791 12.5 6.0791ZM12.5 16.665C10.2002 16.665 8.33496 14.7998 8.33496 12.5C8.33496 10.2002 10.2002 8.33496 12.5 8.33496C14.7998 8.33496 16.665 10.2002 16.665 12.5C16.665 14.7998 14.7998 16.665 12.5 16.665Z" fill="white"/>
                            <path d="M20.6738 5.8252C20.6738 6.65528 20 7.32422 19.1748 7.32422C18.3447 7.32422 17.6758 6.65039 17.6758 5.8252C17.6758 4.99512 18.3496 4.32617 19.1748 4.32617C20 4.32617 20.6738 5 20.6738 5.8252Z" fill="white"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_29_187">
                            <rect width="25" height="25" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</body>

</html>