<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="mt-10 w-[1080px] mx-auto">
        <div class="text-center">
            <h2 class="text-[100px] font-[700]">Thank You</h2>
            <div class="flex justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewBox="0 0 24 24"><path fill="#45a16d" d="m9 20.42l-6.21-6.21l2.83-2.83L9 14.77l9.88-9.89l2.83 2.83z"/></svg>
             </div>
             <div class="flex justify-center mt-5">
                <p class="text-[18px] font-[400]">
                    Thanks a bunch for filling that out. It means a lot to us, just like you do! We really appreciate you giving us a moment of your time today. Thanks for being you.</p>
             </div>
             <div class="flex justify-center mt-5">
                 <a href="/" class="p-3 bg-green-500 px-10 text-[16px] font-[500] text-white rounded-[10px]">Back </a>
             </div>
        </div>
    </div>
</body>
</html>